# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Python virtual environment
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# # Database files
# *.db
# *.db-journal

# IDE and test cache
.idea/
.vscode/
.pytest_cache/